<div class="form-container">
    <h1>Edit Entry</h1>

    <%= form_for :entry, url: {action: "update"}, :method => :patch do |f| %>
        <p>
            <%= f.label :category%>
            <%= f.text_field :category %>
        </p>
        <p>
            <%= f.label :location %>
            <%= f.text_field :location %>
        </p>
        <p>
            <%= f.label :amount %>
            <%= f.text_field :amount %>
        </p>
        <p>
            <%= f.label :date %>
            <%= f.text_field :date %>
        </p>
        <p>
            <%= f.submit %>
        </p>
    <% end %>
</div>